// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    tokyonight_day {
        fg "#606060"
        bg "#dbdbdb"
        black "#eeeeee"
        red "#765b00"
        green "#53852f"
        yellow "#765b00"
        blue "#606060"
        magenta "#765b00"
        cyan "#606060"
        white "#888888"
        orange "#606060"
    }
}

