(
  selected_tab: Some("#765b00"),
  command_fg: Some("#836437"),
  selection_bg: Some("#dbdbdb"),
  selection_fg: Some("#606060"),
  cmdbar_bg: Some("#e7e7e7"),
  cmdbar_extra_lines_bg: Some("#e7e7e7"),
  disabled_fg: Some("#836437"),
  diff_line_add: Some("#53852f"),
  diff_line_delete: Some("#765b00"),
  diff_file_added: Some("#606060"),
  diff_file_removed: Some("#c22727"),
  diff_file_moved: Some("#a59a79"),
  diff_file_modified: Some("#765b00"),
  commit_hash: Some("#765b00"),
  commit_time: Some("#5c4e10"),
  commit_author: Some("#53852f"),
  danger_fg: Some("#765b00"),
  push_gauge_bg: Some("#e7e7e7"),
  push_gauge_fg: Some("#606060"),
  tag_fg: Some("#a59a79"),
  branch_fg: Some("#765b00")
)
