(
  selected_tab: Some("#ffcf5b"),
  command_fg: Some("#a47e47"),
  selection_bg: Some("#212121"),
  selection_fg: Some("#d4d4d4"),
  cmdbar_bg: Some("#181818"),
  cmdbar_extra_lines_bg: Some("#181818"),
  disabled_fg: Some("#a47e47"),
  diff_line_add: Some("#7abf47"),
  diff_line_delete: Some("#ffcf5b"),
  diff_file_added: Some("#d4d4d4"),
  diff_file_removed: Some("#f15050"),
  diff_file_moved: Some("#5c5542"),
  diff_file_modified: Some("#ffcf5b"),
  commit_hash: Some("#ffcf5b"),
  commit_time: Some("#fef0ca"),
  commit_author: Some("#7abf47"),
  danger_fg: Some("#ffcf5b"),
  push_gauge_bg: Some("#181818"),
  push_gauge_fg: Some("#d4d4d4"),
  tag_fg: Some("#5c5542"),
  branch_fg: Some("#ffcf5b")
)
